<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Data Collector App</title>
    <link href="../static/main.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <p class="normal">Thank you for your submission.<br>
       You will receive an email with survey results shortly!</p>
    </div>
    <div id="copyright">
        By clicking the submit button, I consent to the storage of my email address for the above-mentioned survey.
    </div>

</body>
</html>
